<html ng-app="usersList">
<head>
	<meta charset="UTF-8">
	<title>Users List</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<script src="public/js/angular.js"></script>
	<script>
		angular.module("usersList", []);
		angular.module("usersList").controller("usersListCtrl", function ($scope) {
			$scope.app = "Users List";
			$scope.users = [
				{name: 'José', email: 'jose@exemple.com.br'},
				{name: 'João', email: 'joao@exemple.com.br'},
				{name: 'Mária', email: 'maria@exemple.com.br'},
			];
			$scope.addUser = function(user){
				$scope.users.push(angular.copy(user));
				delete $scope.user;
			};
			$scope.usersType = [
				{level: 'Admin'},
				{level: 'Common'},
			];
		});
	</script>

</head>
<body ng-controller="usersListCtrl">
	<div class="jumbotron">
		<h4>{{app}}</h4>
		<!--  Other form of display - <span ng-bind="message"></span>  -->
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>E-mail</th>
				<th>Level</th>
			</tr>
			<tr ng-repeat="user in users">
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.usersTypes.level}}</td>
			</tr>
		</table>
		<hr>
		{{user}}
		<input class="form-control" type="text" placeholder="Name" ng-model="user.name">
		<input class="form-control" type="text" placeholder="E-mail" ng-model="user.email">
		<select class="form-control" ng-model="user.usersTypes" ng-options="usersTypes.level for usersTypes in usersType">
			<option value="">Select level</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="addUser(user)" ng-disabled="!user.name || !user.email">Insert</button>
	</div>
</body>
</html>